﻿@model MVC_API05.Models.HistoriaClinica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HistoriaClinica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectosNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectosNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FracturaGrave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FracturaGrave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemaEndocrino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemaEndocrino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diabetes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemaRenales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemaRenales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tumores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tumores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osteoporosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osteoporosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SidaVhi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SidaVhi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hepatitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hepatitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Convulsiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convulsiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemasVisuales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemasVisuales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anorexia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anorexia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bulimia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bulimia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SangradoExcesivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SangradoExcesivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moretones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moretones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anemia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anemia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soplo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soplo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectoCorazon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectoCorazon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arterioescloris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arterioescloris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penicilina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penicilina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otros)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
