﻿@model IEnumerable<MVC_API05.Models.HistoriaClinica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefectosNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FracturaGrave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemaEndocrino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diabetes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemaRenales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tumores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osteoporosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SidaVhi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hepatitis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Convulsiones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemasVisuales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anorexia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bulimia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SangradoExcesivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moretones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anemia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soplo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefectoCorazon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Embarada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arterioescloris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penicilina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefectosNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FracturaGrave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemaEndocrino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diabetes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemaRenales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tumores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osteoporosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SidaVhi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hepatitis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Convulsiones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemasVisuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anorexia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bulimia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SangradoExcesivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moretones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anemia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soplo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefectoCorazon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Embarada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arterioescloris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penicilina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otros)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
